body {
  margin: 0;
  font-family: "Nunito", "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-validation-message {
  color: #c41717;
}

.form-success-message {
  color: #287309;
}
